body { background-color: lightpink;
color: yellow;
font-family: Arial;
font-size: 20px;
 }
h1, h2 {
       color:magenta;
	text-align: center;
}

.text-center {
        text-aligh: center;
}
#rounded-img{
         border-radius: 50px;
}
table {
        border: 2px solid blue;
        border-collapse: collapse;
        background-color: lightblue;
}

th,td{
      border: 1px solid pink;
      color: magenta;
}
